<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/script.js"></script>
</script>
</head>

<body>
    <h1>Calculation</h1>
    <h1>Test Page</h1>
    <form action = "http://localhost:5000/learning" method = "POST">
      <p><input type="text" name="userinput1" placeholder="Text to be analyzed" /></p>
      <p><input type="text" name="userinput2" placeholder="Text to be analyzed" /></p>
      <p><input type="text" name="userinput3" placeholder="Text to be analyzed" /></p>
      <p><input type="text" name="userinput4" placeholder="Text to be analyzed" /></p>
      <p><input type="text" name="userinput5" placeholder="Text to be analyzed" /></p>

      <p id="results">Results will go here</p>
      <p><input type="submit" /></input></p>
    </form>
</body>




</html>